MacStatsCollection/MacStatsCollection.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://assignment.crossover.com/"
    xmlns:binp="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1"
    xmlns:httpp="http://schemas.microsoft.com/ws/06/2004/policy/http"
    targetNamespace="http://assignment.crossover.com/">

    <!-- Types of requests: -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://assignment.crossover.com/">

            <xsd:complexType name="listOfStatsFloat32">
                <xsd:sequence>
                    <xsd:element name="entry" minOccurs="1" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:attribute name="statName" use="required" type="xsd:string" />
                            <xsd:attribute name="statValue" use="required" type="xsd:float" />
                            <xsd:attribute name="quality" use="required" type="xsd:byte" />
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="listOfStatsInt32">
                <xsd:sequence>
                    <xsd:element name="entry" minOccurs="1" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:attribute name="statName" use="required" type="xsd:string" />
                            <xsd:attribute name="statValue" use="required" type="xsd:int" />
                            <xsd:attribute name="quality" use="required" type="xsd:byte" />
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="SendStatsSampleRequest">
                <xsd:sequence>
                    <xsd:element name="time" type="xsd:long" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="machine" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="statsFloat32" type="tns:listOfStatsFloat32" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="statsInt32" type="tns:listOfStatsInt32" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="WrapSendStatsSampleRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="key" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="payload" type="tns:SendStatsSampleRequest" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SendStatsSampleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="CloseServiceRequest">
                <xsd:complexType>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="CloseServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <!-- Definition of service messages: -->

    <wsdl:message name="SendStatsSampleRequestMessage">
        <wsdl:part name="parameters" element="tns:WrapSendStatsSampleRequest" />
    </wsdl:message>

    <wsdl:message name="SendStatsSampleResponseMessage">
        <wsdl:part name="parameters" element="tns:SendStatsSampleResponse" />
    </wsdl:message>

    <wsdl:message name="CloseServiceRequestMessage">
        <wsdl:part name="parameters" element="tns:CloseServiceRequest" />
    </wsdl:message>

    <wsdl:message name="CloseServiceResponseMessage">
        <wsdl:part name="parameters" element="tns:CloseServiceResponse" />
    </wsdl:message>

    <!-- The web service interface: -->
    <wsdl:portType name="MacStatsCollectionInterface">
        <wsdl:operation name="SendStatsSample">
            <wsdl:input message="tns:SendStatsSampleRequestMessage" />
            <wsdl:output message="tns:SendStatsSampleResponseMessage" />
        </wsdl:operation>
        <wsdl:operation name="CloseService">
            <wsdl:input message="tns:CloseServiceRequestMessage" />
            <wsdl:output message="tns:CloseServiceResponseMessage" />
        </wsdl:operation>
    </wsdl:portType>

    <!-- Interface binding: HTTP without security -->
    <wsdl:binding name="MacStatsCollectionBinding" type="tns:MacStatsCollectionInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SendStatsSample">
            <soap:operation soapAction="http://assignment.crossover.com/SendStatsSample" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CloseService">
            <soap:operation soapAction="http://assignment.crossover.com/CloseService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- The service endpoints: -->
    <wsdl:service name="MacStatsCollectionService">
        <wsdl:port name="MacStatsCollectionEndpoint" binding="tns:MacStatsCollectionBinding">
            <soap:address location="http://CASE:81/macstatscollection"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>